easy-codegen/.idea/
easy-codegen/classes/
easy-codegen/*.iml/
easy-codegen/target/
easy-codegen/freemarker-plugin/.idea/
easy-codegen/freemarker-plugin/classes/
easy-codegen/freemarker-plugin/*.iml/
easy-codegen/freemarker-plugin/target/
easy-codegen/code-generator/.idea/
easy-codegen/code-generator/classes/
easy-codegen/code-generator/*.iml/
easy-codegen/code-generator/target/
easy-codegen/code-generator-example/.idea/
easy-codegen/code-generator-example/classes/
easy-codegen/code-generator-example/*.iml/
easy-codegen/code-generator-example/target/

easy-codegen/code-generator-example/code-generator-example.iml
easy-codegen/code-generator/code-generator.iml
easy-codegen/common-codegen.iml
easy-codegen/freemarker-plugin/freemarker-plugin.iml
